.page {
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url("./assets/background.png");

	.form {
		background-color: white;
		padding: 48px;
		border-radius: 8px;
		width: 60%;
	}

	.myEditor {
		height: 30vh;
		overflow-y: scroll;
	}
}